<!-- header and banner section starts here -->
<div class="banner-wrapper">
  <app-header></app-header>
  <div class="banner-content" id="article">
    <div class="container">
      <div class="content-wrapper">
        <h1>get unlimited, unique content in 30 seconds</h1>
        <p>ContentWiz suggests most relevant contents. It paraphrases for you to erase plagiarism concerns.</p>
        <app-userquery></app-userquery>
      </div>
    </div>
  </div>
</div>
<!-- header and banner section end here -->