attrs==19.3.0
Automat==0.8.0
boto3==1.10.45
botocore==1.13.45
certifi==2018.8.24
chardet==3.0.4
Click==7.0
cloudpickle==0.6.1
coloredlogs==10.0
constantly==15.1.0
cycler==0.10.0
cymem==1.31.2
cytoolz==0.9.0.1
dill==0.2.8.2
docutils==0.15.2
en-core-web-md==2.0.0
Flask==0.12.1
Flask-Cors==3.0.8
future==0.17.1
gevent==1.4.0
greenlet==0.4.15
humanfriendly==4.18
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.4
jsonschema==2.6.0
kiwisolver==1.1.0
klein==17.10.0
MarkupSafe==1.1.1
matplotlib==2.2.4
msgpack==0.5.6
msgpack-numpy==0.4.4.3
murmurhash==0.28.0
numpy==1.18.0
packaging==18.0
plac==0.9.6
preshed==1.0.1
PyHamcrest==1.9.0
pyparsing==2.4.5
python-crfsuite==0.9.6
python-dateutil==2.8.1
pytz==2019.3
rasa-nlu==0.15.1
regex==2017.11.9
requests==2.22.0
ruamel.yaml==0.15.100
s3transfer==0.2.1
scikit-learn==0.20.4
scipy==1.4.1
simplejson==3.17.0
six==1.13.0
sklearn-crfsuite==0.3.6
spacy==2.0.12
tabulate==0.8.6
termcolor==1.1.0
thinc==6.10.3
toolz==0.10.0
tqdm==4.41.0
Twisted==19.10.0
typing==3.7.4.1
ujson==1.35
urllib3==1.25.7
Werkzeug==0.16.0
wrapt==1.10.11
zope.interface==4.7.1
