/* .modal-content-rw {
    width: 80%;
    margin: 0px auto;
} */
.signup-wrap .signup-rw.row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}
.modal-content-rw .signup-rw .signup-content {
    background-color: unset;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 510px;
    height: auto;
}
.modal-content-rw .signup-rw form{
    max-width: 100%;
}