<section class="works-wrapper"> 
  <div class="works-rw" id="how-it-works">
    <div class="container">
      <h2>how it works</h2>
      <div class="row-wrap">
        <div class="works-content padding-0">
          <div class="content-rw">
            <div class="image-wrap">
              <img src="assets/images/edit-text.png" alt="edit-text" class="work-img">
              <img src="assets/images/edit-text-hover.png" alt="edit-text" class="work-img-hover">
            </div>
            <h4>Type your text</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et.</p>
          </div>
        </div>
        <div class="works-content padding-0">
          <div class="content-rw">
            <div class="image-wrap">
              <img src="assets/images/magic.png" alt="magic-text" class="work-img">
              <img src="assets/images/magic-hover.png" alt="magic-text" class="work-img-hover">
            </div>
            <h4>Sit back and relax while the magic works</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et.</p>
          </div>
        </div>
        <div class="works-content padding-0">
          <div class="content-rw">
            <div class="image-wrap">
              <img src="assets/images/article.png" alt="article-text" class="work-img">
              <img src="assets/images/article-hover.png" alt="article-text" class="work-img-hover">
            </div>
            <h4>Your article is ready</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>