<div class="wrapper" id="wrapper">
    <div class="main-content">
      <app-header></app-header>
      <div class="article-wrapper">
        <!-- transaction section starts here -->
        <div class="transaction-wrap">
          <div class="container">
            <h2>transaction history</h2>
          </div>
          <div class="trans-rw" *ngFor="let item of transactionsList">
            <div class="container">
              <div class="trans-content clearfix">
                <div class="details">
                  <div class="details-rw">
                    <label>{{item.duration}} plan :</label>
                    <span>{{item.currency}}{{item.price}}</span>
                  </div>
                  <span class="date">Valid till 22 Nov 2019</span>
                </div>
                <div class="download-btn">
                  <a class="pointer" (click)="downloadReceipt()">
                    download receipt
                  </a>
                </div>
              </div>
            </div>
          </div>
          <no-record-found *ngIf="transactionsList?.length==0"></no-record-found>
        </div>
        <!-- transaction section end here -->
      </div>
      <app-footer></app-footer>
    </div>
  </div>